.win {
    background-color: #28344E;
}

.loss {
    background-color: #59343B
}

.champion-icon {
    vertical-align: middle;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

.stats-icon {
    float: left;
    margin-right: 1rem;
}

select {
    min-width: 180px;
}

.stats {
    display: inline-block;
}

#sidebar {
    margin-right: 1rem;
}

#main {
    display: grid;
    grid-template-columns: 35% 65%;
}

.champion-stat {
    background-color: hsl(calc(var(--winrate) * 1.2), 46%, 33%);
}

.match-date {
    float: right;
}

#fetch-matches {
    margin: 1rem auto;
    display: block;
}

.summoners {
    display: grid;
    grid-template-columns: 50% 50%;
}